<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>911160502491-spgqve236mrnddbcdh43v8i89rnjse20.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.911160502491-spgqve236mrnddbcdh43v8i89rnjse20</string>
	<key>API_KEY</key>
	<string>AIzaSyDoQFdFB1-VFAY0I9be8j4QfIYvpAiM5-A</string>
	<key>GCM_SENDER_ID</key>
	<string>911160502491</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.wein</string>
	<key>PROJECT_ID</key>
	<string>wein-b7d48</string>
	<key>STORAGE_BUCKET</key>
	<string>wein-b7d48.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:911160502491:ios:768dcdb26c96e0aefdc4fe</string>
</dict>
</plist>